.panel.panel-info
  .panel-heading=t('.title')
  .panel-body
    -if current_cart.present? && current_cart.any?
      %ul
        -current_cart.products.each do |p|
          %li
            =p.name
            =link_to 'x', remove_from_cart_path(p.id), class: 'btn btn-xs btn-danger', method: :post
      .text-center
        =link_to t('.go_to_cart'), cart_path, class: 'btn btn-success'
    -else
      .text-center=t('.empty_cart')
  -if current_cart.present? && current_cart.any?
    .panel-footer=t('.total_amount', amount: current_cart.total)