.panel.panel-success#panel-simple-limit
  .panel-heading=t('.title')
  .panel-body
    .text-center
      =link_to t('.submit'), '#', class: 'btn btn-warning', data: {toggle: :modal, target: '#revoModal'}

:javascript
  revoSimpleLimit = new RevoSimpleLimit("#{Rails.application.secrets.simple_limit_url}")