.panel.panel-success#panel-limit
  .panel-heading=t('.title')
  .panel-body
    .text-center
      =link_to t('.submit'), '#', class: 'btn btn-warning', data: {toggle: :modal, target: '#revoModal'}

:javascript
  revoLimit = new RevoLimit()