.panel.panel-success
  .panel-heading= t('.title')
  .panel-body
    .text-center
      = link_to t('.submit.iframe_v1'), '#', class: 'btn btn-warning revo-popup', data: { url: '/revo_reg/iframe_v1' }
    %br
    .text-center
      = link_to t('.submit.iframe_v2'), '#', class: 'btn btn-warning revo-popup', data: { url: '/revo_reg/iframe_v2' }
    %br
    .text-center
      = link_to t('.submit.factoring_v1'), '#', class: 'btn btn-warning revo-popup', data: { url: '/revo_reg/factoring_v1' }
