%h1
  =precede 'Order # ' do
    =@order.id
%h2 Items
%table.table
  %tbody
    -@order.products.each do |p|
      %tr
        %td= p.name
        %td= p.price
    %tr
      %td
      %td=@order.amount

.panel.panel-default.order-loan
  .panel-heading
    Buy on credit
  .panel-body
    .progress
      .progress-bar.progress-bar-striped.active{aria: {valuenow: 95, valuemin: 0, valuemax: 100}, role: :progressbar, style: 'width: 95%'}
    .loan-btn
      =link_to 'Buy', '#', class: 'btn btn-warning'
    .loan-error
      Loan Error

:javascript
  revoLoan = new RevoLoan(#{@order.id})
  revoLoan.check()

