%h1
  =precede 'Order # ' do
    =@order.id
%h2 Items
%table.table
  %tbody
    -@order.products.each do |p|
      %tr
        %td= p.name
        %td= p.price
    %tr
      %td
      %td=@order.amount

.panel.panel-default.order-loan
  .panel-heading
    Buy by means of "pay later" service
  .panel-body
    .progress
      .progress-bar.progress-bar-striped.active{aria: {valuenow: 95, valuemin: 0, valuemax: 100}, role: :progressbar, style: 'width: 95%'}
    .loan-btn
      -#=link_to 'Buy', '#', class: 'btn btn-warning'
      %button.btn.btn-warning{type: :button, data: {toggle: :modal, target: '#revoModal'}}
        Buy
    .loan-error
      Loan Error

.modal.fade#revoModal{tabindex: '-1', role: :dialog, aria: {labelledby: :revoModalLabel}, data: {backdrop: 'static'}}
  .modal-dialog{role: :document}
    .modal-content
      .modal-body
        #revo-iframe


:javascript
  revoLoan = new RevoLoan(#{@order.id})
  revoLoan.check()

