%h1
  =precede 'Order # ' do
    =@order.id
%h2 Items
%table.table
  %tbody
    -@order.products.each do |p|
      %tr
        %td= p.name
        %td= p.price
    %tr
      %td
      %td=@order.amount

.row
  .col-lg-6
    .panel.panel-default.order-loan
      .panel-heading
        Buy by means of "pay later" service
      .panel-body
        .progress
          .progress-bar.progress-bar-striped.active{aria: {valuenow: 95, valuemin: 0, valuemax: 100}, role: :progressbar, style: 'width: 95%'}
        .loan-btn
          -#=link_to 'Buy', '#', class: 'btn btn-warning'
          %button.btn.btn-warning{type: :button, data: {toggle: :modal, target: '#revoModal'}}
            Checkout Preliminary
        .loan-error
          Loan Error

  .col-lg-6
    .panel.panel-default.full-order-loan
      .panel-heading
        Buy by means of "pay later" service
      .panel-body
        .progress
          .progress-bar.progress-bar-striped.active{aria: {valuenow: 95, valuemin: 0, valuemax: 100}, role: :progressbar, style: 'width: 95%'}
        .loan-btn
          %button.btn.btn-warning{type: :button, data: {toggle: :modal, target: '#revoModal'}}
            Checkout Full
        .loan-error
          Loan Error

:javascript
  revoLoan = new RevoLoan(#{@order.id})
  revoLoan.check()
  revoLoan.full_check()

