%div.form
  %div.buffer_bottom
    %img{:src => '/assets/logo.png'}
  %h1 Оформление займа
  %div.steps
    %span>3
    %span.text_muted /3
    %div.steps__arrow
  %h2 Завершение
  %div.quote «На указанный номер мобильного телефона отправлено SMS сообщение с суммой, доступной для покупок в данном Интернет-магазине. В ближайшее время с вами свяжется оператор.»
  %div.text_right
    %a{:href => '#'} Вернуться в магазин
