# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: cc0cd96ffc7fa0a1439a1545a4b2b4a697627ceb6157a2d925001cbc4b876f787cf3cc579fbac64fd45c11ae1b06adf5d0f479bd68eae13529d6a77aacf7c7e5
  revo_host: 'http://localhost:3000'
  revo_internal_host: 'http://localhost:3000'
  revo_store_id: '26'
  callback_url: 'http://localhost:3001/revo/callback'
  redirect_url: 'http://localhost:3001/orders'
  password: 'changeme1'
  revo_js_url: '//localhost:3000/javascripts/iframe/v1/revoiframe.js'

test:
  secret_key_base: 2148c41fdaf51ea0ce91f21392e20328cc7b6d809ff7209ce974d501ad32f07d3cae3f393143c7477cd800137797ef9d7c9b250d60d4369652f9f00dcb099029

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: cc0cd96ffc7fa0a1439a1545a4b2b4a697627ceb6157a2d925001cbc4b876f787cf3cc579fbac64fd45c11ae1b06adf5d0f479bd68eae13529d6a77aacf7c7e5
  revo_host: 'staging.revoup.ru'
  revo_internal_host: '10.1.2.107'
  revo_store_id: '26'
  callback_url: 'http://store.revoup.ru/revo/callback'
  redirect_url: 'http://store.revoup.ru/orders'
  password: 'changeme'
  revo_js_url: '//demo.revoup.ru/javascripts/iframe/v1/revoiframe.js'
