%h1=t('.title')

%table.table
  %thead
    %th
    %th= Product.human_attribute_name :name
    %th= Product.human_attribute_name :price
  %tbody
    -@items.each do |_, p|
      %tr
        %td.text-center= image_tag p[:image.to_s], height: 25
        %td= p[:name.to_s]
        %td
          =p[:price.to_s]
          -if p[:discount_price.to_s]
            %span.label.label-success=t('.special_offer_price', price: p[:discount_price.to_s])
    %tr
      %td.text-right{colspan: 2}=t('.total')
      %td{colspan: 2}
        =@total
%p
  =link_to t('.confirm_order'), orders_path, class: 'btn btn-success', method: :post
  =link_to t('.back_to_store'), root_path, class: 'btn btn-success'
