.checkout {
  .thumbnail{
    min-height: 200px;
    .img-container{
      height: 140px;
      text-align: center;
      img {
        max-height: 140px;
        max-width: 140px;
        vertical-align: middle;
      }
      .aligner {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
      }
    }
    //.caption {
    //  position: absolute;
    //  bottom: 20px;
    //}
  }
}