.products {
  .thumbnail{
    height: 400px;
    img {
      max-height: 200px;
    }
    .caption {
      text-align: center;
      height: 200px;
      .name, .price-wrapper {
        height: 60px;
      }
      .price-wrapper {
        .old-price  {
          font-size: 14px;
          text-decoration: line-through;
        }
        .price {
          font-size: 18px;
        }
      }
    }
  }
}
#revoModal {
  iframe {
    border: 0;
  }
  .modal-dialog{
    width: 550px;
  }
  .modal-body{
    padding: 0px;
  }
}
