.products {
  .thumbnail{
    height: 370px;
    img {
      max-height: 200px;
    }
    .caption {
      position: absolute;
      height: 170px;
      bottom: 0px;
      .name {
        height: 80px;
      }
    }
  }
}
#revoModal {
  iframe {
    border: 0;
  }
  .modal-dialog{
    width: 550px;
  }
  .modal-body{
    padding: 0px;
  }
}
