.row.products
  -@products.each do |p|
    .col-sm-6.col-md-4
      .thumbnail
        =image_tag p.image
        .caption
          .name
            %h3= p.name
          .description= p.description
          .price-wrapper
            -if p.sale_price
              .old-price
                =t('.price', price: p.price)
            .price
              =t('.price', price: p.actual_price)
          .add-to-cart
            =link_to t('.add_to_cart'), add_to_cart_path(p.id), class: 'btn btn-success', method: :post
